*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}
html, body{
    scroll-behavior: smooth;
    background-color: black;
    width: 100%;
    height: 100%;
}

nav{
    background-color: transparent;
    display: flex;
    justify-content:space-between;
    position: fixed;
    width: 100%;
    top: 0;
    height: fit-content;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 10;
}
.background{
    background-color: black;
}


.logo{
    margin-top: 40px;
    z-index: 20;
}

.logo a{
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 3vh;
    text-decoration: none;
}

.logo a:hover{
    color: white;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 60%;
    padding-top: 45px;
}

.nav-links li{
    list-style-type: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 2vh;
}

nav a:hover{
    color: green;
    transition: all 0.3s;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 5px;
    background-color: white;
    margin: 3px;
    transition: all 0.3s ease;
}

 .contact{
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
    background-color: transparent;
    display: flex;   
    z-index: 5;
}

.content{
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    z-index: 0;
}

#button{
    position: fixed;
    top: 85%;
}

.content h1{

    padding: 20px;
    color: white;
    font-size: 3vh;
}


.calendar table td{
    font-size: 2vh;
}
.title{
    position: fixed;
    padding: 15px;
    top: 45%;
    left: 10%;
    background: rgb(0, 0, 0, 0.5);
    color: white;
    font-size: 1.5vh;
    border: solid 1px white;
    border-radius: 10px;
    box-shadow: black 20px 20px 20px;
    
}



.results {
    position: absolute;
    width: 100vw;
    height: fit-content;
    top: 65vh;
    background-color: black;
    opacity: 0.9;
    padding: 0 0 50px 20px;
}

.results h2{
    
    color: white;
    position: relative;
    text-align: center;
    font-size: 4vh;
}
.results h3{
    color: white;
    position: relative;
    font-size: 3vh;
    margin-top: 50px;

}

.results ul{
    list-style: none;
    color: white;
    margin-top: 30px;
    padding: 0 25px 0 25px;
    font-size: 2vh;
}
.results li{
    margin-top: 15px;
}

#instagram{
    display: inline-block;
    padding: 5px 10px 0 10px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    border-radius: 10px;
    font-size: 5vh;
    color: white;
}
#instagram:hover, #facebook:hover{
    transform: scale(1.2);
    transition: transform 1s;
}
#facebook{
    display: inline-block;
    padding: 5px 10px 0 10px;
    background-color: #4267B2;
    border-radius: 10px;
    font-size: 5vh;
}
#facebook a, #instagram a{
    color: white;
}

.calendar table{
    border-spacing: 5px 1rem;
    margin: 50px auto 0 auto;
    color: white;
    text-align: left;

}

.calendar table th{
    text-align: center;
    

}

.border{
    border-top: 2px solid black;
}
.hr{
    width: 60%;
    margin: auto;
}

.container{
   margin-left: auto;
   margin-right: auto;

   
 
}
.col{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left:15px;
    flex-basis: 0;
    flex-grow: 1;
    max-width:100%
}

.row {
    display: block;
  
}
.infos{
    text-align: center;
}

.infoIcon{
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin: 0 auto 20px auto;
  transition: all 1s ease;
  background-color: #1435ee;
}

.fa-home, .fa-envelope, .fa-phone{
    margin-top: 25px;
    color: white;
}



.infoIcon:hover{
    color: #ff6f61;
    background-color: black;
}

.infoItem{
    
    padding-bottom: 20px;
}

#contactInformation{
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: rgb(229, 223, 241);
}

input{
    margin-bottom: 10px;
    height: 25px;
    width: 20%;
    margin-top: 30px;
}

#myName{
    width: 25%;
    background-color: rgb(229, 223, 241);
}
#myEmail{
    width: 24.2%;
    background-color: rgb(229, 223, 241);

}
textarea{
    max-width: 50%;
    min-width: 50%;
    margin-left: -6px;
    height: 200px;
    min-height: 200px;
    margin-bottom: 10px;
    background-color: rgb(229, 223, 241);
}

#mySubmit{
    margin-left: -6px;
    width: 50%;
    height: 30px;
    background-color: #1435ee;
    border: none;
    color: white;
    cursor: pointer;
}

fieldset{
    color: white;
    border: none;
    margin: auto;
}

.contactForm{
    background-color: transparent;
    backdrop-filter: blur(300px);
    -webkit-backdrop-filter: blur(300px);
    padding-top: 100px;
    width: 100%;
    
}

.contactForm h1{
    text-align: center;
    color: white;
    padding-top: 50px;
}

.social{
    position: fixed;
    bottom: 0;
    width: fit-content;
    right: 0;
    padding: 15px;
    background-color: transparent;
    text-align: center;
    z-index: 2;

}

.about{
    position: absolute;
    top: 72%;
    left: 0;
    background-color: white;
    width: 100%;
    overflow-wrap: break-word;
}

.flex{
    display: flex;
    padding: 20px;

}
.flex p{

    line-height: 30px;
    font-size: 2.5vh;


}

.equipment{
    background-color: #fd5949;
    padding: 20px;
}

.flex img{
    animation: fading 5s infinite;
    position: relative;
    width: 40%;
    margin-left: auto;
    margin-right: 0;
    border-radius: 20px;
}

.equipment table{
    width: 30%;
    margin: auto
}


  
.scroll-down {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;

}
  
.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 7px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

.news{
    position: fixed;
    padding: 20px;
    bottom: 40%;
    right: 10%;
    background-color: transparent;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    color: white;
    text-align: center;
    border-radius: 20px;
    box-shadow: rgb(20 , 20, 20) 20px 20px 20px;
    border: solid 1px black;
    font-size: 2vh;

}
.news h3{
    margin-bottom: 10px;
}
.news button{
    margin-top: 30px;
    background-color: white;
    border-style: none;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5vh;
    border-radius: 10px;  
}
.button :hover{
    transform: scale(1.1);
    transition: transform 1s;
}

.index-sponsoring{
    padding-top: 20px;
    padding-bottom: 10px;
    position: fixed;
    background-color: black;
    width: 100%;
    height: fit-content;
    bottom: 0;
    text-align: center;
    opacity: 0.9;


    
}
.index-sponsoring button{
    background-color: white;
    color: black;
    font-size: 2vh;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;

}
.index-sponsoring h2{
    color: white;
    padding-bottom: 20px;
    font-size: 2.5vh;
}


@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
}


.lastTournament {
    position: fixed;
    left: 10%;
    top: 50%;
    color: white;
    background-color: black;
    box-shadow: black 10px 10px 10px;
    opacity: 0.8;
    padding: 10px;
    text-align: center;



}

.lastTournament table, .nextTournament table{
    border-spacing: 5px 1rem;

}

.nextTournament{
    position: fixed;
    right: 10%;
    top: 50%;
    color: white;
    background-color: black;
    opacity: 0.8;
    box-shadow: black 20px 20px 15px;
    padding: 10px;
    text-align: center;

}

.sponsoren{
    position: absolute;
    top: 70%;
    width: 100%;
    background-color: white;
    opacity: 0.9;
    left: 0;
    
}

.birdie-sponsoren{

    text-align: center;
    padding: 20px;
}
.eagle-sponsoren{
    text-align: center;
    padding: 20px;
}

.sponsoren h1{
    font-size: 3.5vh;
    text-align: center;
    padding-bottom: 20px;
}

.par-sponsoren-logos{
   
    display: flex;
    gap: 150px;
    padding: 20px;
    justify-content: center;
    font-size: 1.8vh;
    

}

.par-sponsoren, .birdie-sponsoren{
    padding-top: 100px;
}

#sponsoren-picture{
    margin-top: 50px;
    background-color: black;
    padding: 2px;
     
}
#sponsor-werden{
    padding: 50px;
    text-align: center;
}
#sponsor-werden a{

    text-decoration: none;
    padding-top: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
#sponsor-werden h2{
    margin-bottom: 20px;
    font-size: 2.5vh;
}

.sponsoren hr{
    margin-top: 20px;
    width: 100%;
    height: 5px;
    background: black;
}

.news-title{
    background: url(images/slideshow1.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: black;
}
.block{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.block button{
    background-color: black;
    color: white;
    font-size: 2.1vh;
    padding: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;


}



.blog{
    display: flex;
    position: absolute;
    top: 70vh;
    background-color: black;
    padding: 10px;
    width: 100%;
    color: white;
    opacity: 0.85;
    padding-bottom: 100px;

}


.blog h2{
    text-align: center;
    text-decoration: underline;
    padding-bottom: 20px;
    padding-top: 30px;
}

.blog-list{

    background-color: white;
    padding: 10px;
    color: black;


}
.blog-list h1{
    text-align: center;
    font-size: 4vh;
}


.blog-list a{

    color: black;
}

.news-entries{
    padding: 20px;

}
.news-entries p{

    font-size: 2.5vh;
    
}
.news-entries h2{
    font-size: 3.5vh;
    font-weight: bold;
}

.news-text{
    opacity: 0;
    transition: opacity 500ms ease-in;
}
.news-text.appear{
    opacity: 1;
}


@keyframes fading{
    0% {opacity: 0;}
    50% {opacity: 1;}
    100%{opacity: 0;}
}



@media screen and (max-width:1024px){
   
    body{
        overflow-y: visible;
        overflow-x: hidden;
        background-color: black;
    }
    nav{
        background-color: transparent;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 0;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        color: white;
        
    }
    .nav-links li {
        opacity: 0;
        margin-top: -80px;
    }

    .burger{
        display: block;
        margin-top: 13px;
        margin-right: 10px;
    }

    .nav-active{
        transform: translateX(0%);
    }

    .logo{
       margin-left: 10px;
       margin-top: 12px;
    }

    .flex{
        display: block;
    }

    .flex img{
        width: 80%;
        height: auto;
        margin: 30px auto 30px auto;  
    }
    
    .about h2{
        text-align: center;
    }

    .equipment table{
        margin-left: auto;
        margin-right: auto;
    }

    .nextTournament{
        left: 50%;
        top: 55%;
        width: 50%;
        height: fit-content;
        opacity: 1;
        box-shadow: black 0px 0px 0px;
        font-size: 2vh;
    }

    .lastTournament{
        left: 0;
        top: 55%;
        width: 50%;
        height: fit-content;
        opacity: 1;
        box-shadow: black 0px 0px 0px;
        font-size: 2vh;
    }

    .nextTournament table, .lastTournament table {
        margin-left: auto;
        margin-right: auto;
    }

    .about table{
        margin: 30px auto 30px auto;
    }

    }



    
    


@media screen and (max-width:801px){

    body{
        overflow-y: visible;
        overflow-x: hidden;
        background-color: black;
    }
    nav{
        background-color: transparent;

    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 0;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        color: white;
        
    }
  
 


    .nav-links li {
        opacity: 0;
        margin-top: -80px;
    }

    .burger{
        display: block;
        margin-top: 13px;
        margin-right: 10px;
    }

    .nav-active{
        transform: translateX(0%);
    }

    .logo{
       margin-left: 10px;
       margin-top: 12px;
    }

    .hr{
        width: 60%;
    }


    .row{
        display: block;
        margin-left: -50px;
    }

    .contact{
        display: block;
    }

    .flex{
        display: block;
    }

    .flex img{
        width: 80%;
        height: auto;
        margin: 30px auto 30px auto;  
    }

    
    .about table{
        margin: 30px auto 30px auto;
    }

    .about h2{
        text-align: center;
    }

    .equipment table{
        width: 70%;
    }

    .equipment dl{
        width: 40%;
        margin: 100px auto 0 auto;
    }

    #instagram, #facebook{
        padding: 5px 8px 5px 8px;
    }

    #last-next-tournament{
    
        display: flex;
        opacity: 0.9;
    }
    .nextTournament, .lastTournament{
        padding: 0;
        
    }

    .lastTournament table, .nextTournament table{
        width: 100%;
    }

    .scroll-down{
        bottom: 10px;
    }

    .contactForm{
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .calendar table{
        padding: 0px 10px 0px 10px;
    }
  

    .results h3{
        text-align: center;
       
    }
    .news{
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        max-width: fit-content;
        padding: 10px;
        bottom: 35%;
        

    }

    .title{
        opacity: 0;
    }


    .container{
        margin-left: 50px;
    }

    .birdie-sponsoren img, .eagle-sponsoren img{
        width: 70%;
    }

    .par-sponsoren, .birdie-sponsoren{
        padding-top: 50px;
    }

 

    #bni-logo{
        width: 35%;
        margin-left: auto;
        margin-right: auto;
        
    }
    .par-sponsoren-logos{
        display: grid;
        text-align: center;
        width: 100%;
        grid-row-gap: 50px;
    }
    .par-sponsoren-logos img{
        width: 50%;
        margin-left: 25%;
    }
    
    .blog{
        display: block;
        padding-bottom: 10px;
        
    }

    .news-entries h2{
        font-weight: bold;
    }


}

@media  screen and (max-height: 500px) {

    .news{
        margin-left: auto;
        margin-right: auto;
        max-width: fit-content;
        padding: 10px;
        bottom: 20%;
        left: -55%;
    }

    .index-sponsoring{
        width: 40%;
        top: 50%;
        padding: 10px 0 5px 0;
        right: 0;
        opacity: 1;
        background-color: transparent;
        
        
    }
    .birdie-sponsoren img, .eagle-sponsoren img{
        width: 40%;
    }

    #ds-logo{
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }
    #bni-logo{
        width: 20%;
    }
    .nav-links a{
        font-size: 3vh;
    }
    .par-sponsoren-logos{
        font-size: 2.5vh;
    }
    .lastTournament, .nextTournament{
        top: 45%;
    }
    .logo a{
        font-size: 4vh;
    }


    
}


@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0; 
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);  
}