*{
    margin: 0;
    font-family: monospace;
}

nav{
    background-color: black;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 0;
    height: 12%;
    z-index: 10;


}

.logo{
    margin-top: 40px;

}

.logo a{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
    text-decoration: none;


}
.logo a:hover{
    color: white;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 60%;
    padding-top: 45px;

}

.nav-links li{
    list-style-type: none;

}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    

}
nav a:hover{
    color: green;

}

.burger{
    display: none;
    cursor: pointer;
}


.burger div{
    width: 25px;
    height: 5px;
    background-color: white;
    margin: 3px;
    transition: all 0.3s ease;
}
.content, .contact{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #50403e;
    text-align: center;
    

}
.title{
    position: absolute;
    top: 60%;
    right: 0;
    padding: 30px;
    background-color: #50403e;
    text-align: center;
}
.title h1{
    color: white;
}
.content h1{
    padding: 20px;
    color: white;
}

#instagram{
    display: inline-block;
    padding: 5px 10px 0 10px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    border-radius: 10px;
    font-size: 40px;
    color: white;
}
#instagram:hover, #facebook:hover{
    transform: scale(1.2);
    transition: transform 1s;
}
#facebook{
    display: inline-block;
    padding: 5px 10px 0 10px;
    background-color: #4267B2;
    border-radius: 10px;
    font-size: 40px;
}
#facebook a, #instagram a{
    color: white;
}

footer{
    float: left;
    background-color: green;
}


.calendar table, .calendartwo table{
    border-spacing: 5px 1rem;
    margin: 50px auto 0 auto;
    color: white;
    text-align: left;

}



.calendar table th{
    text-align: center;
}
.border{
    border-top: 2px solid black;
}
.hr{
    width: 60%;
    margin: auto;
}
.contact{
    display: flex;
    background-color: rgb(229, 223, 241);

}
.container{
    margin-left: 80px;
    margin-right: 80px;
 
}
.col{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left:15px;
    flex-basis: 0;
    flex-grow: 1;
    max-width:100%
}

.row {
    display: block
  
}
.infos{
    text-align: center;
}

.infoIcon{
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin: 0 auto 20px auto;
  transition: all 1s ease;
  background-color: #1435ee;
}

.fa-home, .fa-envelope, .fa-phone{
    margin-top: 25px;
    color: white;
}

.infoIcon:hover{
    color: #ff6f61;
    background-color: black;
}

.infoItem{
    
    padding-bottom: 20px;
}

#contactInformation{
    padding-top: 50px;
    padding-bottom: 30px;
}

input{
    margin-bottom: 10px;
    height: 25px;
    width: 20%;
    margin-top: 30px;
}

#myName{
    width: 24%;
    background-color: rgb(229, 223, 241);
    margin-left: 8px;
}
#myEmail{
    background-color: rgb(229, 223, 241);
    width: 24%;

}
textarea{


    max-width: 50%;
    min-width: 50%;
    height: 200px;
    min-height: 200px;
    margin-bottom: 10px;
    background-color: rgb(229, 223, 241);
}

#mySubmit{

    width: 51.5%;
    height: 30px;
    background-color: #1435ee;
    border: none;
    color: white;
    cursor: pointer;
}

fieldset{

    color: white;
    border: none;
    margin: auto;
}

.contactForm{
    background-color: #50403e;
    padding-bottom: 30px; 
    width: 100%;
    
}


.contactForm h1{
    text-align: center;
    color: white;
    padding-top: 50px;
}
#button{
    cursor: pointer;
}


.social{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 15px;
    background-color: black;
    text-align: right;
  }
.about{
    position: absolute;
    top: 75%;
    left: 0;
    background-color: white;
    width: 100%;
    overflow-wrap: break-word;

}

.flex{
    display: flex;
    padding: 20px;
}
.equipment{
    background-color: #fd5949;
    padding: 20px;
}
.flex img{

    animation: fading 5s infinite;
    position: relative;
    width: 40%;
    margin-left: auto;
    margin-right: 0;
    height: auto;
    border-radius: 10px;
}
.equipment table{
    width: 30%;
    margin: auto

}
.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
  }
  
  .scroll-down {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
  
  .scroll-down:before {
      position: absolute;
      top: calc(50% - 8px);
      left: calc(50% - 7px);
      transform: rotate(-45deg);
      display: block;
      width: 12px;
      height: 12px;
      content: "";
      border: 2px solid white;
      border-width: 0px 0 2px 2px;
  }
  
  @keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }
@keyframes fading{
    0% {opacity: 0;}
    50% {opacity: 1;}
    100%{opacity: 0;}
}



@media screen and (max-width:1024px){
   
    body{
        overflow-x: hidden;
    }
    .nav-links{
        width: 65%;

    }

    
    
}


@media screen and (max-width:768px){

    body{
        overflow-y: visible;
        overflow-x: hidden;
        background-color: black;

    }
    nav{
        height: 9%;
    }
    
    .nav-links{
        position: absolute;
        right: 0px;
        height: 95vh;
        top: 7vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        color: white;


    }
    .nav-links li {
        opacity: 0;
        margin-top: -80px;
    }
    .burger{
        display: block;
        margin-top: 13px;
        margin-right: 10px;
    }
    .nav-active{
        transform: translateX(0%);

    }
    .logo{
       margin-left: 10px;
       margin-top: 12px;
    }
   
    h1{
        font-size: 30px;
    }
    .hr{
        width: 95%;
    }
    .row{
        display: block;
        margin-left: -50px;
    }
    .contact{
        display: block;
    }
    .flex{
        display: block;
        max-width: 95%;
        flex-wrap: wrap;
    }
    .flex img{
        width: 80%;
        height: auto;
        margin: 30px auto 30px auto;  
    }
    

    .about table{
        margin: 30px auto 30px auto;
    }
    .about h2{
        text-align: center;
    }
    .equipment table{
        width: 70%;
       
    }.equipment dl{
        width: 40%;
        margin: 100px auto 0 auto;
    }
    #instagram, #facebook{
        padding: 5px 8px 5px 8px;
        font-size: 25px;
    }


}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);

}
.toggle .line2{
    opacity: 0;
    
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
    
}